*, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box; /* Optional: includes padding and border in element's total width and height */
    }

html {
  font-family: calibri;
}
